<!DOCTYPE html>
<html>
<head>
    <title>Error 404 - Página no encontrada</title>
    <style>
        body {
            background-color: #E74C3C;
            font-family: Arial, sans-serif;
            color: #FFFFFF;
            text-align: center;
            padding: 100px;
        }

        h1 {
            font-size: 80px;
            margin-bottom: 10px;
        }

        p {
            font-size: 30px;
            margin-top: 30px;
        }

        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1>Error 404</h1>
    <p>Oops! Parece que te has perdido.</p>
    <p><a href="/">Volver a la página de inicio</a></p>
</body>
</html>
